// В этом файле должны быть стили для БЭМ-блока agent, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.agent {
	&__grid {
		margin-bottom: 24px;
		@media (min-width: $screen-md) {
			margin-bottom: 40px;
		}
	}
	&__button {
		display: block !important;
		margin: 0 auto;
		width: 130px;
		@media (min-width: $screen-md) {
			width: 173px;
		}
	}
}
