// В этом файле должны быть стили для БЭМ-блока footer-socials, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.footer-socials {
	display: flex;
	&__item {
		transition: transform .25s ease;
		&:hover {
			transform: translateY(-2px);
		}
	}
	&__item + &__item {
		margin-left: 16px;
	}
	&__icon {
		height: 48px;
		width: 48px;
	}
}
