// В этом файле должны быть стили для БЭМ-блока checkbox, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.checkbox {
	align-items: center;
	display: flex;
	min-height: 24px;
	&__input {
		display: none;
	}
	&__fake-input {
		border: 1px solid $blue_01;
		border-radius: 4px;
		flex: 0 0 auto;
		height: 16px;
		margin: 4px 8px 4px 4px;
		width: 16px;
	}
	&__input:disabled + &__fake-input {
		background: $monochrome_06;
	}
	&__mark {
		height: 6px;
		left: 2px;
		position: relative;
		top: 3px;
		transform: rotate(-45deg);
		width: 10px;
	}
	&__input:checked + &__fake-input {
		background: $blue_01;
	}
	&__input:checked + &__fake-input &__mark {
		border-bottom: 2px solid $monochrome_10;
		border-left: 2px solid $monochrome_10;
	}
	&__label {
		font-size: 14px;
		line-height: 125%;
		user-select: none;
	}
}
