.footer
	.grid
		.grid__row
			.grid__col
				.footer__top
					svg.footer__logo.svg
						use(xlink:href='img/svgSprite.svg#logo')
				.footer__bottom
					.footer__col
						.footer-info
							.footer-info__item
								.footer-info__title Техническая поддержка
								a.footer-info__link(href='tel:88003000600') 8 800 3000 600
							.footer-info__item
								.footer-info__title Для коммерческих вопросов
								a.footer-info__link(href='tel:84951234567') 8 495 123 45 67
							.footer-info__item
								.footer-info__title Электронная почта
								a.footer-info__link(href='mailto:mail@teleport.ru') mail@teleport.ru
							.footer-info__item
								.footer-info__title Почтовый адрес
								.footer-info__text 115200, г. Москва, ул. Пушкина, 10
						.footer__copy 2021 © #[span Телепорт]
					.footer__col
						.footer-list
							.footer-list__title Продукты
							a.footer-list__link(href='#') Банковская гарантия
							a.footer-list__link(href='#') Кредит на исполнение контракта
							a.footer-list__link(href='#') Тендерные займы
							a.footer-list__link(href='#') Открытие р/с
							a.footer-list__link(href='#') Выпуск ЭЦП
					.footer__col
						.footer-list
							.footer-list__title Документация
							a.footer-list__link(href='#') Инструкции
							a.footer-list__link(href='#') Полезные ссылки
					.footer__col
						.footer__hash #ВремяДеньги
						.footer__socials.footer-socials
							a.footer-socials__item(href='#')
								svg.footer-socials__icon.svg
									use(xlink:href='img/svgSprite.svg#icon__vk')
							a.footer-socials__item(href='#')
								svg.footer-socials__icon.svg
									use(xlink:href='img/svgSprite.svg#icon__fb')
							a.footer-socials__item(href='#')
								svg.footer-socials__icon.svg
									use(xlink:href='img/svgSprite.svg#icon__tg')
						a.footer__button(data-hystmodal='#help') Свяжитесь со мной
