// В этом файле должны быть стили для БЭМ-блока section, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.section {
	padding: 32px 0 40px;
	position: relative;
	@media (min-width: $screen-sm) {
		padding: 48px 0 56px;
	}
	@media (min-width: $screen-xl) {
		padding: 88px 0 96px;
	}
	&_bg_white {
		background: $monochrome_10;
	}
	&__header {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0 0 32px;
		@media (min-width: $screen-sm) {
			align-items: center;
			flex-direction: row;
			font-size: 32px;
			margin: 0 0 40px;
		}
	}
	&__button {
		margin-top: 16px;
		@media (min-width: $screen-sm) {
			margin-top: 0;
		}
	}
	&__anchor {
		left: 0;
		position: absolute;
		top: 0;
		width: 10px;
		@media (min-width: $screen-md) {
			top: -136px;
		}
	}
}
