// В этом файле должны быть стили для БЭМ-блока button, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.button {
	appearance: none;
	background: $red_01;
	border: none;
	border-radius: 4px;
	color: $monochrome_10;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	line-height: 107%;
	outline: none;
	padding: 8px 16px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: background .25s ease;
	user-select: none;
	@media (min-width: $screen-md) {
		&_large {
			font-size: 19px;
			line-height: 127%;
			padding: 20px 48px;
		}
	}
	&:hover {
		background: $red_03;
	}
	&:active {
		background: $red_03;
	}
	&_black {
		background: $monochrome_01;
	}
	&_blue {
		background: $blue_01;
		&:hover {
			background: $blue_03;
		}
	}
	&_green {
		background: $green_01;
		&:hover {
			background: $green_03;
		}
	}
	&_round {
		border-radius: 32px;
		font-weight: 600;
		@media (min-width: $screen-md) {
			font-size: 20px;
			line-height: 120%;
			padding: 12px 24px;
		}
	}
	&_large {
		border-radius: 32px;
		font-weight: 600;
		letter-spacing: 0.02em;
		padding: 16px 40px !important;
		@media (min-width: $screen-lg) {
			font-size: 20px;
			line-height: 120%;
		}
	}
}
